<div class="contenedor animate__animated animate__bounceInUp">
    <div class="img">
        <img src="https://images.pexels.com/photos/2387566/pexels-photo-2387566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    </div>
    <div class="titulo">{{noticia.title}}</div>
    <div class="datos">
        <div class="fecha">{{noticia.description}}</div>
        <div class="ubicacion">{{noticia.type}}</div>
    </div>

    <!-- <button class="like"><i class="fa-solid fa-heart"></i></button> -->
    <div class="like-button" (click)="toggleLike()">
        <div class="heart-bg">
          <div class="heart-icon" [class.liked]="liked"></div>
        </div>
        <div class="likes-amount">{{ likesAmount }}</div>
      </div>      
</div>