<div class="contenido animate__animated animate__zoomInDown" >
  <div class="card_back"></div>
  <div class="main">
    <div class="card">
      <img src="../../assets/img/coche_imagen.jpg" class="img" alt="" srcset="" />
    </div>
    <div class="data">
      <div class="text">
        <div class="text_m">
          <div class="calle">{{desplazamiento.title}}</div>
          <div class="fecha">{{desplazamiento.fechaSalida}}</div>
        </div>
        <div class="text_s">
          <div class="usuario">{{desplazamiento.description}}</div>
          <div class="plazas">
            <p>{{ espacios }}/4</p>
          </div>
        </div>
      </div>
    </div>
    <div class="btns">
      @if (btnApuntarse != "none") {
      <div class="likes">
        <div
          class="likes_text"
          (click)="Apuntarse()"
          [ngStyle]="{ 'pointer-events': btnApuntarse }"
        >
          Apuntarse
        </div>
      </div>
      }
      @if (btnApuntarse == "none") {
      <div class="likes">
        <div
          class="likes_text"
          (click)="Desapuntarse()"
          [ngStyle]="{ 'pointer-events': btnDesapuntarse }"
        >
          Desapuntarse
        </div>
      </div>
      }
    </div>
  </div>
</div>
