.main {
    position: relative;
}
.card {
    width: 15em;
    height: 10em;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
  }
  
  .fl {
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: .2s ease-in-out;
  }
  
  .fl:hover .fullscreen {
    scale: 1.2;
  }
  
  .fl:hover .fullscreen_svg {
    fill: white;
  }
  
  .fullscreen {
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    background-color: #727890;
    margin: 1em;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    box-shadow: 2px 2px 6px rgba(0,0,0,.4);
  }
  
  .fullscreen_svg {
    width: 15px;
    height: 15px;
    fill: rgb(177, 176, 176);
    transition: .2s ease-in-out;
  }
  
  .card_back {
    position: absolute;
    background-color: #f97c4b;
    opacity: 1;
    width: 15em;
    height: 14em;
    border-radius: 7px;
    margin-top: 1em;
    margin-left: 0.7em;
    transition: .2s ease-in-out;
  }
  
  .contenido:hover .card_back {
    margin-top: 0em;
    margin-left: 0em;
    scale: 1.1;
    height: 15.25em;
    cursor: pointer;
  }
  
  .contenido:hover .main .fl {
    opacity: 1;
    cursor: pointer;
    margin-right: 0.5em;
  }
  
  .data {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
  }
  
  .img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border:3px solid black;
  }
  
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 1.1em;
    width: 100%;
    font-family: Montserrat;
    color: white;
  }
  
  .text_m {
    font-weight: bold;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
  }
  
  .text_s {
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
  }

  .calle {
    align-self: flex-start;
  }

  .fecha {
    align-self: flex-end;
  }

  .usuarios {
    align-self: flex-start;
  }

  .plazas {
    align-self: flex-end;
  }
  
  .btns {
    display: flex;
    gap: 0.5em;
    transition: .2s ease-in-out;
    text-align: center;
  }
  
  .likes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .2s ease-in-out;
  }
  
  .likes_text {
    font-family: Montserrat;
    font-size: 0.8em;
    color: white;
    pointer-events: fill;
  }
  
  .likes_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }
  
  .likes:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }
  
  .comments {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .24s ease-in-out;
  }
  
  .comments_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
  }
  
  .comments_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }
  
  .comments:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }
  
  .views {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 1.4em;
    border-radius: 4px;
    margin-top: -0.5em;
    opacity: 0;
    background-color: #444857;
    transition: .28s ease-in-out;
  }
  
  .views_text {
    font-family: Montserrat;
    font-size: 0.8em;
    margin-left: 0.25em;
    color: white;
  }
  
  .views_svg {
    width: 12px;
    height: 12px;
    fill: white;
  }
  
  .views:hover {
    background-color: #5A5F73;
    cursor: pointer;
  }
  
  .contenido:hover .main .likes {
    opacity: 1;
  }
  
  .main:hover .comments {
    margin-top: 0.5em;
    opacity: 1;
  }
  
  .main:hover .views {
    margin-top: 0.5em;
    opacity: 1;
  }
  
  /* The switch - the box around the slider */
  .switch_738 {
    font-size: 13px;
    position: relative;
    display: inline-block;
    width: 1.2em;
    height: 3.3em;
  }
  
  /* Hide default HTML checkbox */
  .switch_738 .chk_738 {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider_738 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 5px;
  }
  
  .slider_738:before {
    position: absolute;
    content: "";
    height: .5em;
    width: 2.4em;
    border-radius: 5px;
    left: -0.6em;
    top: 0.2em;
    background-color: white;
    box-shadow: 0 6px 7px rgba(0,0,0,0.3);
    transition: .4s;
  }
  
  .slider_738:before, .slider_738:after {
    content: "";
    display: block;
  }
  
  .slider_738:after {
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.15) 0) 0 50% / 50% 100%,
          repeating-linear-gradient(90deg,rgb(255, 255, 255) 0,rgb(255, 255, 255),rgb(255, 255, 255) 20%,rgb(255, 255, 255) 20%,rgb(255, 255, 255) 40%) 0 50% / 50% 100%,
          radial-gradient(circle at 50% 50%,rgb(255, 255, 255) 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #ffffff;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%) rotate(90deg);
    transform-origin: 25% 50%;
    position: relative;
    top: 0.5em;
    left: 0.55em;
    width: 2em;
    height: 1em;
    box-sizing: border-box;
  }
  
  .chk_738:checked + .slider_738 {
    background-color: limegreen;
  }
  
  .chk_738:focus + .slider_738 {
    box-shadow: 0 0 1px limegreen;
  }
  
  .chk_738:checked + .slider_738:before {
    transform: translateY(2.3em);
  }
  
  .chk_738:checked + .slider_738:after {
    transform: rotateZ(90deg) rotateY(180deg) translateY(0.45em) translateX(-1.4em);
  }
