<app-side-bar></app-side-bar>
<app-navbar [title] = "title"></app-navbar>

<div class="contenido">

    <div class="container-desplazamiento-items">
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        <app-desplazamientos-item></app-desplazamientos-item>
        
    </div>
</div>