<div class="card">
    <div class="lines"></div>
    <div class="imgBx">
        <img class="avatar" src="../../assets/img/chart2.png" alt="person-image" />
    </div>
    <div class="content">
        <div class="details">
            <h2>{{user.name}}<br /><span>Desarrollador web</span></h2>
            <div class="data">
                <h3>{{user.name}}<br /><span>Publicaciones</span></h3>
                <h3>{{numSeguidores}}<br /><span>Seguidores</span></h3>
                <h3>{{numSeguidos}}<br /><span>Seguidos</span></h3>
            </div>
            <div class="actionBtn">
                <button class="follow-btn">Seguir</button>
                <button class="message-btn">Mensaje</button>
            </div>
        </div>
    </div>
</div>