<div class="body">
    <div class="container">
        <div class="signin-signup">
            <div class="signin">
                <div class="welcome-text">
                    <h2 class="title">HOLA!!</h2>
                    <h2 class="title">BUENOS DIAS</h2>
                </div>  
                
                <div class="datos">
                    <div class="login-text">
                        <p class="orange-text">Entra</p><p>con tu cuenta</p>
                    </div>

                    <div class="sign-in-form">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Correo" [(ngModel)]="email">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <input type="submit" value="Entrar" class="btn" (click)="login()" [routerLink]="['/home']">
                    </div>
                </div>

                <div class="no-account">
                    <p class="account-text">¿No tienes cuenta? <a href="#" id="sign-up-btn2" (click)="showSignUp()">Registrate</a></p>
                </div>
            </div>

            <div class="signup">
                <div class="welcome-text-2">
                    <h2 class="title">HOLA!!</h2>
                    <h2 class="title">BUENOS DIAS</h2>
                </div>  
                
                <div class="datos">
                    <div class="login-text">
                        <p class="orange-text">Registrate</p><p>con tus datos</p>
                    </div>

                    <div class="sign-up-form">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Apellido">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="email" placeholder="Correo">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Contraseña">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Repita la contraseña">
                        </div>
                        <input type="submit" value="Registrarse" class="btn">
                    </div>
                </div>

                <div class="no-account">
                    <p class="account-text">¿Ya tienes cuenta? <a href="#" id="sign-up-btn2" (click)="showSignIn()">Inicia sesión</a></p>
                </div>
            </div>
        </div>
        
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <img src="../../assets/img/logoNombre.png.png" alt="" class="image">
                </div>
                
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <img src="../../assets/img/logoNombre.png.png" alt="" class="image">
                </div>
            </div>
        </div>
    </div>
</div>