.header {
    background-color: white;
    top: fixed;
    padding-bottom: 10px;
    height: 50px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin-right: 0;

  }

  p.title-page {
    margin-left: 100px;
    color: #f97c4b;
    font-weight: bold;
    font-family: arial;
    font-size: larger
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
  }
  
  .search-bar button {
    background-color: #f97c4b;
    color: white;
    padding: 8px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  .search-icon {
    display: none;
    width: 30px;
    height: 30px;
  }
  
  .search-icon button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #f97c4b;
    border-radius: 50%;
  }
  
  .search-icon button:hover {
    background-color: #c5623b; 
  }
  
  .search-icon button i {
    color: white;
    font-size: 20px; 
  }
  
  
  .user-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 10px;
  }


  @media screen and (max-width: 450px) {
    p.title-page {
      margin-left: 60px;
    }

    .search-bar button , .search-bar input{
      display: none;
    }

    .search-icon{
      display: block;
    }
  }


  @media screen and (min-width:450px) and (max-width: 560px) {
    p.title-page {
      margin-left: 90px;
    }


  }