
.body{
    margin-left: 30px;
    background-color: #fedbcd;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    background:#FEDBCD;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family: 'Roboto';
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.dashboard{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.parking-manager{
    height: 44.5%;
    border-radius: 10px;
    background: #F97C4B;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 5em;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 
                -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.new-car-btn{
    color: white;
    border-radius: 10px;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 26px;
    border-radius: 10px;
    font-size: 18px;
}

.new-car-entry{
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 3px;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}

.new-car-entry div{
    background: rgb(27,118,19);
    width: 20%;
    border-radius: 20px;
    height: 20px;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
}

.parking-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50px;
    top: -3.7em;
}

.parking-slots-holder{
    width: 80%;
    height: 20%;
    display: flex;
    gap: 1em;
}

.parking-slot {
    width: 20%;
    height: 140%;
    border-top: 5px solid rgb(255, 0, 0);
    border-right: 5px solid rgb(255, 0, 0);
    border-left: 5px solid rgb(255, 0, 0);
    border-bottom: none;
    border-radius: 5%;
    background: #f97c4b9a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    color: rgb(240, 240, 236);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 
                -5px -5px 10px rgba(0, 0, 0, 0.2);
  }
  

  .parking-slot2 {
    width: 20%;
    height: 140%;
    border-bottom: 5px solid rgb(255, 0, 0);
    border-right: 5px solid rgb(255, 0, 0);
    border-left: 5px solid rgb(255, 0, 0);
    border-top: none;
    border-radius: 5%;
    background: #f97c4b9a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 43px;
    color: rgb(240, 240, 236);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 
                -5px -5px 10px rgba(0, 0, 0, 0.2);
  }
  

.parking-way{
    width: 80%;
    height: 20%;
}

.parking-way2{
    width: 80%;
    height: 13%;
}

#entry-way{
    border-bottom: 12px dotted rgb(255, 255, 255);
}

.outside{
    width: 200px;
    height: 40%;
border-radius: 5%;
margin-right: 3em;
    background: #F97C4B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5), 
    -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.text-outside{
    font-size: 18px;
    -webkit-transform: rotate(90deg);
}

.new-car-origin{
    position: absolute;
    z-index: 10;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(270deg);
}

.queue{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 3px;
}

.queue img{
    background: #F97C4B;
    padding: 10px;
    text-align: center;
    line-height: 20px;
    border: 1px dotted gray;
    width: 140.32px;
}

.addtoqueue{
    background: #F97C4B;
    color: rgb(49,185,206);
    padding: 10px;
    font-size: 12px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(49,185,206);
}