<app-side-bar></app-side-bar>
<app-navbar [title] = "title"></app-navbar>
<div class="body" onload="setupparkingmanager()">
    <div class="dashboard">
        <div class="parking-manager">
            <div class="new-car-btn">Seleccione apacarmiento</div>
            <div class="new-car-entry">
                <div (click)="carEnter(0)" id="slot1">1</div>
                <div (click)="carEnter(1)" id="slot2">2</div>
                <div (click)="carEnter(2)" id="slot3">3</div>
                <div (click)="carEnter(3)" id="slot4">4</div>
                <div (click)="carEnter(4)" id="slot5">5</div>
                <div (click)="carEnter(5)" id="slot6">6</div>
                <div (click)="carEnter(6)" id="slot7">7</div>
                <div (click)="carEnter(7)" id="slot8">8</div>
                <div (click)="carEnter(8)" id="slot9">9</div>
                <div (click)="carEnter(9)" id="slot10">10</div>
            </div>
        </div>
        <div class="parking-container" id="parkingspace">
            <div class="parking-slots-holder">
                <div class="parking-slot" id="slot-1">1</div>
                <div class="parking-slot" id="slot-2">2</div>
                <div class="parking-slot" id="slot-3">3</div>
                <div class="parking-slot" id="slot-4">4</div>
                <div class="parking-slot" id="slot-5">5</div>
            </div>
            <div class="parking-way" id="entry-way"></div>
            <div class="parking-way2"></div>
            <div class="parking-slots-holder">
                <div class="parking-slot2" id="slot-6">6</div>
                <div class="parking-slot2" id="slot-7">7</div>
                <div class="parking-slot2" id="slot-8">8</div>
                <div class="parking-slot2" id="slot-9">9</div>
                <div class="parking-slot2" id="slot-10">10</div>
            </div>
        </div>
        <div class="outside"><p class="text-outside">Entrada / Salida</p></div>
    </div>
</div>