* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


iframe{
    border-radius: 3%;
    border: 2px solid rgba(11, 11, 11, 0.679);
    width: 25vw;
    height: 33vw;
}

.img{
    width: 15em;   
}


.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f97c4b7d;
}

.sign-in-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up{
    text-align: center;
}


.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 100%;
    height: 100%;
    background-color: #F97C4B;
    z-index: 6;
}
.signin-signup {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 5;
}
.signin{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}

.volver{
    height: 40px;
    width: 40px;
    background-image: url("../../assets/img/volver.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    align-self: flex-start;
    cursor: pointer;

}

.signup{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding-top: 5vh;
}


.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.welcome-text-2{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 20px;
}

.datos{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.login-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    padding-top: 3vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-width: 238px;
    padding: 0 10px;
}

form.signin {
    opacity: 1;
    transition: 0s ease-in-out;
}
form.signup {
    opacity: 0;
    transition: 0s ease-in-out;

}

.signin { 
    opacity: 1; 
    transition: 0s ease-in-out; 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    font-size: 25px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.orange-text{
    color: #F97C4B;
    margin-right: 5px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.input-field {
    width: 150%;
    height: 50px;
    background: #f0f0f0;
    margin: 8px 0px;
    border: 2px solid #F97C4B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.input-field-description textarea {
    flex: 5;
    background: none;
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
    resize: none;
    padding: 10px;
}

.input-field-description{

    width: 150%;
    height: 5em;
    background: #f0f0f0;
    margin: 8px 0px;
    border: 2px solid #F97C4B;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.btn {
    width: 150px;
    height: 50px;
    border: block;
    border-radius: 10px;
    background: #F97C4B;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background: #f97c4bcb;
}

.no-account{
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: #F97C4B;
    text-decoration: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.panels-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel {
    pointer-events: block;
    width: 49%;
}
.right-panel{
    width: 49%;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}



.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.account-text {
    display: block;
}
/*Animation*/
.container.sign-up-mode::before {
    transform: translateX(0);
}

/*Responsive*/

@media (max-width:1300px) {
    
    .img{
        margin-top: 3em;
       
        
    }
}



@media (max-width:785px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
    .container::before {
        display: none;
    }
    iframe{
        display: none;
    }
    .signin-signup{
        justify-content: center;
    }
    
}
@media (max-width: 1208px) {
    .input-field{
        width: 120%;
    }
    .input-field-description{
        width: 120%;
    }
}
@media (max-width:635px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
    .container::before {
        display: none;
    }
    iframe{
        display: none;
    }
    .signin-signup{
        justify-content: center;
    }
    form {
        width: 80%;
    }
    form.signup {
        display: block;
        position: absolute;
    }
    .container.sign-up-mode2 form.signup {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.signin {
        display: block;
    }
    .panels-container {
        display: block;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
    .container.sign-up-mode form.signup {
        padding-top: 9vh;
    }
    
}
@media (max-width:960px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
    .container::before {
        display: none;
    }
    iframe{
        display: none;
    }
    .signin-signup{
        justify-content: center;
    }
}
@media (max-width:320px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
    form {
        width: 90%;
    }
    .container::before {
        display: none;
    }
    iframe{
        display: none;
    }
    .signin-signup{
        justify-content: center;
    }
}