<div class="body">

    <div class="container">
        
        <div class="signin-signup">
            <div class="signin">
                <div class="volver" [routerLink]="['/home']" routerLinkActive="router-link-active" >
                </div>
                <img src="../../assets/img/logoNombre.png" class="img" alt="" srcset="">
                <div class="datos">
                    <div class="login-text">
                        <p class="orange-text">Contacta</p><p>con nosotros</p>
                    </div>
                    <div class="sign-up-form">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Correo">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Titulo">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="email" placeholder="Asunto">
                        </div>
                        <div class="input-field-description">
                            <textarea name="descripcion" id="" placeholder="Descripción"></textarea>
                        </div>
                        <input type="submit" value="Enviar" class="btn">
                    </div>
                </div>
            </div>
            
        
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6073.660353058259!2d-3.634883924171699!3d40.43475917143661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd422f0663eeaf67%3A0xf9e80dc8d0fc7a34!2sEviden!5e0!3m2!1ses!2ses!4v1715669571513!5m2!1ses!2ses" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                
            </div>
        
        </div>
    
    </div>
</div>



















