*{
    font-family: 'Poppins', sans-serif;
        
}
.title{
    background-color: #ff6d43;

    padding: 10px;
    height: 1px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff6d43;
    overflow: hidden;
}
.volver{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 10px;
    margin-left: 27px;
    align-self: flex-start;
    cursor: pointer;
    position: absolute;

}
.profile-form {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45em;
    height: auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.custom-file-upload {
    margin-top: 1.5em;
    font-weight: normal;
    cursor: pointer;
    color: #ff5a18;
    border: 2px solid #ff6d43;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    
    
}

.custom-file-upload:hover {
    background-color: #ff6d43;
    color: white;
}

.form-fields {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    justify-content: center;
    align-items: center;
    row-gap: .7em;
}

.form-fields input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
   
}

.input-field {
    width:100%;
    height: 50px;
    background: #ffffff;
    border: 2px solid #F97C4B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    
}

.input-field input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600px;
    color: #444;
}

.divBtns{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: #F97C4B;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
.btnEliminar {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background: darkred;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    margin-bottom: 15px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #f97c4bcb;
}
.btnEliminar:hover {
    background: red;
}



.submit-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.left{
    text-align: center;
   display: flex;
   flex-direction: column;
   row-gap: .7em;
}

input{
    border-radius: 1%;
    width: 20em;
}

.right{
    text-align: center;
    display: flex;
   flex-direction: column;
   margin-left: 3.5em;
   row-gap: .7em;

}

@media only screen and (max-width: 600px) {
    .profile-form {
        width: 90%;
        overflow: scroll;
    }
}

@media (max-width: 597px){
    .right{
       margin-left: 0;
    }
    .form-fields{
        column-gap: 1em;
    }
    
}