<app-side-bar></app-side-bar>
<app-navbar [title] = "title"></app-navbar>


<div class="body">

  <div class="container-items">
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
    </div>
    

</div>