<div class="body">

    <div class="container">
        
        <div class="signin-signup">
            <div class="signin">
                <div class="volver" [routerLink]="['/']" routerLinkActive="router-link-active" >
                </div>
                <div class="datos">
                    <div class="login-text">
                        <p>¿Deseas cambiar la </p><p class="orange-text">contraseña</p><p>?</p>
                    </div>
                    <div class="sign-up-form">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="Correo">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Nueva contraseña">
                        </div>
                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input type="text" placeholder="Repetir contraseña">
                        </div>
                        <input type="submit" value="Cambiar contraseña" class="btn">
                    </div>
                </div>
            </div>
            
        
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <img src="../../assets/img/logoNombre.png" class="img" alt="" srcset="">
                </div>
                
            </div>
        
        </div>
    
    </div>
</div>



















