<app-side-bar></app-side-bar>
<body>
    <header class="header">
        <p class="tittle-page">Compra / Venta</p>
      <div class="search-bar">
        <input type="text" placeholder="Buscar...">
        <button>Buscar</button>
      </div>
      
      <div class="user-profile">
        <img src="imagen-usuario.jpg" alt="">
      </div>
    </header>

    <div class="container-items">
        <app-item></app-item>
        <app-item></app-item>
        <app-item></app-item>
    </div>
    

  </body>