<app-side-bar></app-side-bar>
<app-navbar [title] = "title"></app-navbar>
<div class="container">
    <button class="fixed-button" (click)="toggleForm()">
      <img src="../../assets/img/plus.png" alt="Button Image" class="button-image">
    </button>
    
    <div *ngIf="isFormVisible" class="overlay">
      <div class="form-container">
        <form class="margin-2">
        <h2 for="field4 input-field">CREA UNA PUBLICACION</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input  placeholder="Titulo" type="text" id="field1" name="field1" required>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input  placeholder="Fecha" type="text" id="field2" name="field2" required>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input  placeholder="Lugar" type="text" id="field3" name="field3" required>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input  placeholder="Descripcion" type="text" id="field4" name="field4" required>
          </div>
          <div class="div-button">
          <button type="submit" class="submit-button">Crear</button>
          <button type="button" class="cancel-button" (click)="cancel()">Cancelar</button>
        </div>
        </form>
      </div>
    </div>
  </div>