<app-side-bar></app-side-bar>
<app-navbar [title] = "title"></app-navbar>

<div class="body">
    <div class="contenedor">
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
        <app-tarjeta-social></app-tarjeta-social>
    </div>

</div>
